In [ ]:
fruits = {'apple', 'banana', 'cherry'}

In [34]:
print(type(fruits))

<class 'set'>

In [7]:
animals = {'cat', 'dog', 'bird', 'fish'}
animals.remove('bird')

In [8]:
set1 = {1,2,3}
set2 ={3,4,5}

In [9]:
set1 |set2

{1, 2, 3, 4, 5}

In [11]:
student = {'name' : 'John', 'age': 20, 'major' : 'Compoter'}
student['age']

20

In [13]:
scores =  {'math': 80, 'english': 90}
scores['math']= 95
scores

{'math': 95, 'english': 90}

In [15]:
colors1 = {'red', 'blue', 'green'}
colors2 = { 'blue', 'yellow', 'pink'}
colors1 & colors2

{'blue'}

In [30]:
method = {'name': 'Alice', 'age': 25, 'city': 'Seoul'}
print(method.keys())
print(method.values())

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'Seoul'])

In [20]:
students = {'student1': 85, 'student2': 90, 'student3': 95}
students.pop('student2')

90

In [21]:
students

{'student1': 85, 'student3': 95}

In [36]:
numbers = {1,2,3,4,5}
type(numbers)

set

In [ ]:
# 문제 9번

# squares = {
#     1 : numbers[0] * numbers[0],
#     2 : numbers[1] * numbers[1],
#     3 : numbers[3] * numbers[3]
# }

squares = {}

for num in numbers:
    squares[num] = num**2

squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
A ^ B

{1, 2, 5, 6}