In [ ]:
# 반복문시 요소가 4개이기에 4번 반복

fruits = ['apple',  'pen', 'pineapple', 'applepen']
print(fruits)

['apple', 'pen', 'pineapple', 'applepen']

In [5]:
fruits[0]

'apple'

In [23]:
rainbow_split = '빨-주-노-초-파-남-보'
print(rainbow_split.replace('-','/'))

빨/주/노/초/파/남/보

In [13]:
list1 = []
list2 =list()

print(list1 == list2)
print(type(list1))
print(type(list2))

True
<class 'list'>
<class 'list'>

In [26]:
list3 = list('빨-주-노-초-파-남-보')
print(list3)

['빨', '-', '주', '-', '노', '-', '초', '-', '파', '-', '남', '-', '보']

In [29]:
safari_list = ["Bear", "Koala", "Gorilla", "Squirrel"]
another_safari_list =  ["Monkey", "Tiger", "Wolf"]
print(safari_list , another_safari_list)

['Bear', 'Koala', 'Gorilla', 'Squirrel'] ['Monkey', 'Tiger', 'Wolf']

In [35]:
safari_list = ['bear', 'koala', "Gorilla"]
print(safari_list * 4)

['bear', 'koala', 'Gorilla', 'bear', 'koala', 'Gorilla', 'bear', 'koala', 'Gorilla', 'bear', 'koala', 'Gorilla']

In [38]:
fruits = ['orange', 'apple','pear','banana','kiwi', 'apple']
print(fruits.count('apple'))
print(fruits.count('test'))

2
0

In [46]:
print("index = ", fruits.index("apple"))

index =  1

In [47]:
print("index:", fruits.index("apple", 3))    # index: 5

index: 5

In [50]:
print("index = " , fruits.index("apple",2))

index =  5

In [51]:
fruits.reverse()
print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [ ]:
lst =[1,2,3,4,5]
lst2 = reversed(lst) # 원본 자체를 보존하고시을때는reversed 그렇지 않을때 reverse
print(lst)
print(lst2) # 위치값이 나옴 -> for문을 통해서 출력이 가능

for x in lst2:
    print(x,end =' ')

[1, 2, 3, 4, 5]
<list_reverseiterator object at 0x000002110B55FD00>
5 4 3 2 1

In [61]:
fruits.append('pineappe')
print(fruits)

['apple', 'apple', 'banana', 'kiwi', 'orange', 'pear', 'pineappe']

In [ ]:
fruits.extend(['rainbow fruits', 'sweet lemon']) # 반복 가능한 것만 받을수 있다

In [64]:
print(fruits)

['apple', 'apple', 'banana', 'kiwi', 'orange', 'pear', 'pineappe', 'rainbow fruits', 'sweet lemon']

In [ ]:
# list안에 list 가능
random = ['apple', 1,2,3, True, False, ['orange', 'kiwi']]
print(random[5])
print(random[6])
print(random[6][1])

False
['orange', 'kiwi']
kiwi

In [67]:
fruits.insert(0,'monkey banana')
fruits

['monkey banana',
 'apple',
 'apple',
 'banana',
 'kiwi',
 'orange',
 'pear',
 'pineappe',
 'rainbow fruits',
 'sweet lemon']

In [68]:
fruits.sort(reverse=True)

In [69]:
fruits

['sweet lemon',
 'rainbow fruits',
 'pineappe',
 'pear',
 'orange',
 'monkey banana',
 'kiwi',
 'banana',
 'apple',
 'apple']

In [ ]:
fruits.sort(key=len) # 길이순으로 정렬
print(fruits)

['pear', 'kiwi', 'apple', 'apple', 'orange', 'banana', 'pineappe', 'sweet lemon', 'monkey banana', 'rainbow fruits']

In [ ]:
fruits.sort(key=lambda x: (len(x),x)) # 다중 정렬 ???
print(fruits)

['kiwi', 'pear', 'apple', 'apple', 'banana', 'orange', 'pineappe', 'sweet lemon', 'monkey banana', 'rainbow fruits']

In [76]:
temp = fruits.remove('apple')

fruits

['pear',
 'apple',
 'banana',
 'orange',
 'pineappe',
 'sweet lemon',
 'monkey banana',
 'rainbow fruits']

In [ ]:
lst = [2,3,5,1,4]
lst2 = sorted(lst) # 변수에다가 재정의를 해야할때???원본을 남겨두고 싶고 변화된 리스트를 출력하고 싶을떄 사용
lst
lst2

[1, 2, 3, 4, 5]

In [ ]:
temp = fruits.pop() # 마지막 요소 추출
print(temp)
print(fruits)

rainbow fruits
['pear', 'apple', 'banana', 'orange', 'pineappe', 'sweet lemon', 'monkey banana']

# 자료구조

In [87]:
plates = ['plate1','plate2']
plates.append('plate3')
plates.append('plate4')
plates

['plate1', 'plate2', 'plate3', 'plate4']

In [88]:
plates.pop()
plates

['plate1', 'plate2', 'plate3']

# del 키워드

In [98]:
abclist = ['A', 'B', 'C', 'D', 'F']
print(abclist)

['A', 'B', 'C', 'D', 'F']

In [91]:
del abclist[0]
abclist

['B', 'C', 'D', 'F']

In [ ]:
# 1번 인덱스부터 3번 전까지 [1,2,3,4,5] -> [1,4,5]
# [시작 : 끝 - 1]
del abclist[1:3]
abclist

['B', 'F']

In [ ]:
del abclist[:] # 처음부터 끝까지 [시작:끝]
abclist

[]

In [ ]:
del abclist
abclist

['A', 'B', 'C', 'D', 'F']

In [102]:
from collections import deque # colletions란 함수들을 하나로 모아놓은 라이브러리(그 중에 deque라는 자료구조만 쓰겠다)
dq = deque()
dq.append("a")
dq.append("b")
dq.append("c")
print(dq)

deque(['a', 'b', 'c'])

In [103]:
dq.appendleft('x')
dq

deque(['x', 'a', 'b', 'c'])

In [104]:
value = dq.pop()
value

'c'

In [107]:
left_value = dq.popleft()
print(left_value)

x

In [108]:
dq

deque(['a', 'b'])

리스트 표현 심화

# 튜플

In [ ]:
tuples =(1,2,'hello')
print(tuples)
print(tuples[0])
print(tuples[1])
print(tuples[2])

(1, 2, 'hello')
1
2
hello

In [112]:
tuples =(1,2,'hello'),('test',1,2,3,4)
print(tuples)
print(tuples[0])
print(tuples[1][3])

((1, 2, 'hello'), ('test', 1, 2, 3, 4))
(1, 2, 'hello')
3

In [118]:
no_wrap_tuples = 1,2,3 # 여러개의 값을 동시에 생성하면 튜플로 생성이 된다
print(no_wrap_tuples)

(1, 2, 3)

In [121]:
testList =(1,2,3,4)
print(id(testList)) # 공간에다가 저장한것이기에 주소값이 있다 
testList = (3,4,5)
print(id(testList))

2272236840144
2272235779584

In [126]:
safari_tuple = ('bear', 'koala', 'Squrrel')
another_safari_tuple = ('monkey', 'Tiger', 'wolf')
result = safari_tuple + another_safari_tuple
print(result)
print(safari_tuple *3)
print(len(safari_tuple +another_safari_tuple))

('bear', 'koala', 'Squrrel', 'monkey', 'Tiger', 'wolf')
('bear', 'koala', 'Squrrel', 'bear', 'koala', 'Squrrel', 'bear', 'koala', 'Squrrel')
6

In [128]:
x,y,z =1,2,3
print(x,y,z)
print(type(x))

1 2 3
<class 'int'>

In [129]:
x,y = y,x
print(x,y)

2 1

In [132]:
x,y,z =y,z,x
print(x,y,z)

2 1 3

In [133]:
str1 = 'mowai'
print(str1[0])

m

In [134]:
address = "대한민국 서울시 서초구"
print(address[5])
print(address[9])

서
서

In [135]:
location = ['서울', '부산', '인천', '광주']
print(location[3])

광주

In [136]:
address = '대한민국 서울시 서초구'
print(address[-3]) # 반대로 출력(하지만 0부터가 아닌 1부터 계산)
print(address[-7])

서
서

In [140]:
location[-4]

'서울'

# 슬라이싱

In [141]:
address = "대한민국 서울시 서초구"
print(address[5:8])

서울시

In [143]:
location.append('울산')

In [147]:
location

['서울', '부산', '인천', '광주', '울산']

In [150]:
print(location[2:5])
print(location[2:])

['인천', '광주', '울산']
['인천', '광주', '울산']

In [ ]:
print(address)
print(address[9:])
print(address[-3:]) 
print(address[1:12:4]) # 4칸씩 출력
print(address[::-1]) # 정반대로 출력(로꾸꺼)

대한민국 서울시 서초구
서초구
서초구
한서서
구초서 시울서 국민한대

In [156]:
print(location)

['서울', '부산', '인천', '광주', '울산']

In [170]:
print(location[3:5]) # 광주, 울산 
print(location[1:]) # 부산 ~ 울산
print(location[1:4:2]) # 부산,광주
print(location[2::-1]) # 인천, 부산, 서울

['광주', '울산']
['부산', '인천', '광주', '울산']
['부산', '광주']
['인천', '부산', '서울']

In [171]:
nation = ('대한민국', '미국', '중국', '일본', '프랑스')

In [ ]:
print(nation[1:]) #미국 ~
print(nation[-3:]) #중국 일본 프랑스
print(nation[1:5:2]) # 미국 일본
print(nation[::-1]) # 로꾸거

('미국', '중국', '일본', '프랑스')
('중국', '일본', '프랑스')
('미국', '일본')
('프랑스', '일본', '중국', '미국', '대한민국')

In [ ]:
# 리스트
location = ['서울특별시', '부산광역시', '인천광역시', '광주광역시', '울산광역시']
print('광주광역시' in location)                   # True
print(['광주광역시', '부산광역시'] in location)    # False 하나의 요소로 들어가있지 않기 때문에 false 

print(['서울특별시', '부산광역시'] in location)    # False

False
True
False

In [180]:
# 튜플
nation = ('대한민국', '미국', '중국', '일본', '프랑스',['대한민국','미국'])
print('미국' in nation)                 # True
print(('대한민국', '미국') in nation)    # False

True
False

In [181]:
print(nation[5][1])

미국

In [182]:
address = '대한민국 서울시 서초구'
print(len(address)) # 12

print(len(nation))

12
6