In [9]:
num1 = 1
num2 = -1
num3 = 3.15
num4 =1.0
num5 =3+4j
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))
print(type(num5))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>

In [11]:
import sys
print(sys.maxsize)

9223372036854775807

In [13]:
# 특수
# 4.2410e => 4.24 * 10*10 
a = 4.24e3
b = 4.24e-3

print(a)
print(b)

4240.0
0.00424

In [16]:
num1 = 10
num2 = 3
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

13
7
30
3.3333333333333335

In [17]:
num3=10
num4=0.1
print(num3+num4)
print(num3-num4)
print(num3*num4)
print(num3/num4)

10.1
9.9
1.0
100.0

In [19]:
num5 = 11
num6 =7
print(num5%num6)

4

In [20]:
num5 = 11
num6 =7
print(num5 // num6)

1

In [22]:
base = 9
exponent = 2

print(base** exponent)
print(exponent ** base)

81
512

In [23]:
bool1 = True
bool2 = False
print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

In [27]:
print(1 == 3)

False

In [30]:
print(int('0') > 0)

False

In [33]:
print("hello printf is pjp language " + ("phphphp" + "ajsdsad")*3)

hello printf is pjp language phphphpajsdsadphphphpajsdsadphphphpajsdsad

In [39]:
date = '2025/11/25'
enroll_date = date.split("5")
print(enroll_date)

['202', '/11/2', '']

In [61]:
origin = "mowaii"
new_origin = "     mowaii"
print(new_origin)
print(new_origin.strip())
print(new_origin.strip('  m'))
print(origin.strip('ow'))
print(origin.lstrip('mi'))
print(origin.rstrip('mi'))

     mowaii
mowaii
owaii
mowaii
owaii
mowa

In [55]:
team_name = "mowai"
print(f"안녕하세요 우리는 {team_name}")

안녕하세요 우리는 mowai

In [57]:
name = "카피바라"
print(str(900) + "살" + name)

900살카피바라

In [65]:
origin_str = "heLLO OWorld"
print(origin_str.capitalize())
print(origin_str.swapcase())
print(origin_str.upper())
print(origin_str.lower())
print(origin_str.title())

Hello oworld
HEllo owORLD
HELLO OWORLD
hello oworld
Hello Oworld

In [ ]:
x = 10
y = "code "
k = "l"
print("x is %d" %x)
print("y is %s" %y)
print("k is %c" %k)

y is code
k is l
x is 10

In [77]:
x,y = 10, "code"
print("x is {0}".format(x))
print("x is {0} y is {1}".format(x,y))
print("x is {new_x} and y is {new_y}".format(new_x = x, new_y =y))

x is 10
x is 10 y is code
x is 10 and y is code

In [83]:
print(True + 3)
print(3 + 5.0)
print(type(True + 3))
print(type(3 + 5.0))
print(int('4')+3)
print(float('4')+3)

4
8.0
<class 'int'>
<class 'float'>
7
7.0

In [84]:
print(list("mowail"))

['m', 'o', 'w', 'a', 'i', 'l']

In [87]:
print(list({1,2,3,4}))

[1, 2, 3, 4]

In [90]:
print(list({
    "1" : "asd",
    "2" : "asasdd",
    "3" : "cxzxczxc"
}))

['1', '2', '3']