In [1]:
# 문제 1
num1 = 10
num2 = 5
sum_result = num1+num2
print(sum_result)

15

In [2]:
# 문제 2
x=7.5
y =2
result =x/y
print(result)

3.75

In [3]:
# 문제 3
num1 = 15
num2 = 4
print(num1%num2)
print(num1 // num2)

3
3

In [4]:
#문제 4
base = 2
exponent = 5
print(base ** exponent)

32

In [10]:
# 문제 5
number = 3
result = number%2
print(result)

1

In [12]:
# 문제 6
greeting_message = "Hello"
greeting_target  = "World"
print(greeting_message + greeting_target)

HelloWorld

In [42]:
# 문제7 
age = 25
city = "분당"

print(f"\"나는` {age}이고, {city}에 살고 있습니다.\"")

"나는` 25이고, 분당에 살고 있습니다."

In [24]:
# 문제8
fruits= ['apple', 'banana', 'cherry']
print(fruits[0],fruits[2])

apple cherry

In [27]:
# 자료형 논리
#문제 1
bool1 = True
bool2 = False
print(type(bool1), type(bool2))

<class 'bool'> <class 'bool'>

In [38]:
# 문제 2
print('hello' == 'Hello')
print('100' == 100)
print(10 >9)
print('a' > 'A')

False
False
True
True

In [39]:
# 문제 3
name = '카피바라'
age = 20
gender = 'male'
print(name == '카피바라')
print(age>=19)
print(age >=19 and gender == 'male')
print("=========")
name = '호랑이'
print(name == '호랑이' and age>=19 and gender == 'male')
print(name == '카피바라'or age>=19)
print(not(name == '카피바라'))

True
True
True
=========
True
True
True